---
layout: default
---

<div class="home">

  <ul class="posts">
    {% for post in site.categories.sticky %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }} - Sticky</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {{ post.excerpt }}
      </li>
    {% endfor %}
    {% for post in site.posts %}
      {% assign sticky = false %}
      {% for cat in post.categories %}
        {% if cat == 'sticky' %}
          {% assign sticky = true %}
        {% endif %}
      {% endfor %}
      {% unless sticky %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {{ post.excerpt }}
      </li>
     {% endunless %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
